<div class="login-page">
        
    <mat-card class="form">
        <mat-card-header>
            <mat-card-title><h3>Login</h3></mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
        <form [formGroup] = "loginForm" (ngSubmit)= "login()" class="loginForm">
            <mat-form-field appearance="outline" class="full-width" >
                <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email" type="email" autofocus
                       [errorStateMatcher]="matcher" >
                            <mat-error *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.dirty">
                                Your email doesn't look quite right...
                               </mat-error> 
                 </mat-form-field>
                 <br>
                 <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'"
                               [errorStateMatcher]="matcher" >  
                               <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                               </button>
                               <mat-error  *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
                                    Password must be 8 charecters long
                                   </mat-error>  
                               
                         </mat-form-field>
                         <br>
                 
                         <button mat-raised-button color="primary" class="full-width" type="submit" 
                         [disabled]="!loginForm.valid">Login</button>
                         <br><br>
                         <mat-error  *ngIf="errMsg">{{errMsg}}</mat-error>
                         <div *ngIf="errMsgPass">
                            <mat-error >{{errMsgPass}}</mat-error>
                            <br>
                            <button mat-raised-button color="warn" (click)=passwordReset()>Forget Password</button>
                         </div>
    
                         <mat-hint class="success" *ngIf="msg">{{msg}}</mat-hint>
                            
                        
        </form>
        
        </mat-card-content>
    </mat-card>
    </div>