<main>
  <header *ngIf="loggedIn">
      <div>
          <nav>
            
            <div class="brand" >
              <a routerLink="">Ride Creators</a>  
            </div>
        
        
            <div class="hamburger" (click)="menu()">
              <div class="line" [ngClass]="{'toggle1' : showMenu}"></div>
              <div class="line" [ngClass]="{'toggle2' : showMenu}"></div>
              <div class="line" [ngClass]="{'toggle3' : showMenu}"></div>
            </div>
            <ul class="nav-links" [ngClass]="{open : showMenu}">
              <li [ngClass]="{'fade' : showMenu, 'no' : !showMenu}"><a routerLink="">Home</a></li>
              <li [ngClass]="{'fade' : showMenu, 'no' : !showMenu}"><a routerLink="add">Add Products</a></li>
              <li [ngClass]="{'fade' : showMenu, 'no' : !showMenu}"><a >Projects</a></li>
              <li [ngClass]="{'fade' : showMenu, 'no' : !showMenu}"><a (click)= "signOut()" class='button'>Sign Out</a></li>
            </ul>
          </nav>
        </div>
  </header>

  <div class="loader" *ngIf="showOverlay">
      <mat-spinner diameter=30></mat-spinner>
  </div>

 
  
  <router-outlet></router-outlet>
 
  
</main>

<router-outlet></router-outlet>