/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button {
    display: inline-flex;
    align-items: center;
    background-color: rgb(202, 36, 36);
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 45px;
    padding: 0 30px;
    color: #fff;
    /* font-family: Lato, Arial, sans-serif; */
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .3s, transform .3s, box-shadow .3s;
     will-change: transform;
}
    
.button:hover {
      box-shadow: 0 4px 17px rgba(0,0,0,0.2);
      transform: translate3d(0, -2px, 0);
    }
.button :active {
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
      transform: translate3d(0, 1px, 0);
    }
    
